# Pandas

In [1]:
import pandas as pd
# verificar versi√≥n de pandas
pd.__version__

'1.5.3'

# Spark Session

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder \
    .appName("Leer datos desde Excel") \
    .getOrCreate()

## Lectura de datos con Pandas

In [3]:
file = pd.ExcelFile("datos.xlsx").sheet_names
df = pd.read_excel("datos.xlsx",sheet_name=file[0])
df.head(1)

,ANOMESDIA,energia,RAD,P.AC,T.INV,T.amb,H.REL,E_W_D,T.PRE,E_W_S,E_RF_DIF,E_RF_I1,E_AH_ABS1,E_AP_ABS1,fecha,Dummy_Anomalia,Dummy_bajaenergia,Dummy_fallainv,Falla Inversor,AUX
0,2022-06-01,8618.853739,26068.299,3.482456e+07,35.8,4.4945,71.106,199.828,0,0.801,0.0,0.0,4.4855,1002.9945,2022-06-01,0,NaN,1,2-4,0

## Convertir `pandas.dataframe` a `spark.dataframe`

In [4]:
df = spark.createDataFrame(df)
df.show(1)

+-------------------+-----------------+---------+--------------+-----+------+------+-------+-----+------------------+--------+-------+---------+---------+-------------------+--------------+-----------------+--------------+--------------+---+
|          ANOMESDIA|          energia|      RAD|          P.AC|T.INV| T.amb| H.REL|  E_W_D|T.PRE|             E_W_S|E_RF_DIF|E_RF_I1|E_AH_ABS1|E_AP_ABS1|              fecha|Dummy_Anomalia|Dummy_bajaenergia|Dummy_fallainv|Falla Inversor|AUX|
+-------------------+-----------------+---------+--------------+-----+------+------+-------+-----+------------------+--------+-------+---------+---------+-------------------+--------------+-----------------+--------------+--------------+---+
|2022-06-01 00:00:00|8618.853739099999|26068.299|3.4824561559E7| 35.8|4.4945|71.106|199.828|    0|0.8009999999999999|     0.0|    0.0|   4.4855|1002.9945|2022-06-01 00:00:00|             0|              NaN|             1|           2-4|  0|
+-------------------+-----------------+---------+--------------+-----+------+------+-------+-----+------------------+--------+-------+---------+---------+-------------------+--------------+-----------------+--------------+--------------+---+
only showing top 1 row